body{
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    text-align: center;
}
#message {
    text-align: center;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    /* border: solid black 5px; */
    /* padding: 10px; */
}
.grid-item {
    background-color: white;
    border: 5px solid black;
    padding: 70px;
    font-size: 30px;
    text-align: center;
}
#box1 {
 color: rgba(255, 255, 255, 0.8);
}
#box2 {
    color: rgba(255, 255, 255, 0.8);
}
#box3 {
    color: rgba(255, 255, 255, 0.8);
}
#box4 {
    color: rgba(255, 255, 255, 0.8);
}
#box5 {
    color: rgba(255, 255, 255, 0.8);
}
#box6 {
    color: rgba(255, 255, 255, 0.8);
}
#box7 {
    color: rgba(255, 255, 255, 0.8);
}
#box8 {
    color: rgba(255, 255, 255, 0.8);
}
#box9 {
    color: rgba(255, 255, 255, 0.8);
}

.button {
    text-align: center;
    margin: 5%;
    padding: 5px;
    margin-left: 25%;
}
#player-one {
    text-align: center;
}
#player-two {
    text-align: center;
}
#reset-button {
    text-align: center;
    margin-left: 46%;
    margin-top: 20px;
}